.container {
  display: flex;
  height: 100vh;
  font-size: 50px;

  /* Main-Axis */
  justify-content: space-around;
}

.box {
  background-color: lightskyblue;
  width: 200px;
  height: 200px;
}

.box:nth-child(1) {
  order: 1;
}

.box:nth-child(2) {
  order: 0;
}

.box:nth-child(3) {
  order: -1;
}
