.grid {
  display: grid;
  height: 50vh;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: stretch center;
}

.header {
  background-color: lightgoldenrodyellow;
}

.content {
  background-color: lightsalmon;
}

.nav {
  background-color: lightgreen;
}

.footer {
  background-color: lightblue;
  height: 40px;
}
