.grid {
  display: grid;
  height: 50vh;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  justify-content: center;
  align-content: center;

  /* place-content: end center */
}

.header {
  background-color: lightgoldenrodyellow;
}

.content {
  background-color: lightsalmon;
}

.nav {
  background-color: lightgreen;
}

.footer {
  background-color: lightblue;
}
